	header {
	    background-color: #4da6ff;
	    height: 50px;
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin: 0; 
	    padding: 0/* Thêm thuộc tính này */
	}

	.brand {
	  font-size: 24px;
	  font-weight: bold;
	}
	.nav-link {
	  color: #000000;
	  text-decoration: none;
	  padding: 10px 20px;
	}
